#chat_screen{
    background-color: #abc1d1;
    --screen_color: #abc1d1;
}

/* chat__timestamp */
.chat__timestamp{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.chat__timestamp > span{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 15px;
    color: white;
}
/* message-row */
.message__author{
    margin-bottom: 5px;
}
.message-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.message__info{
    display: flex;
    align-items: flex-end;
}
.message-row > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
}

/* 대화창 */
.message-window{
    padding: 10px;
    margin: 0px 5px;
    background-color: white;
    border-radius: 0px 15px 15px 15px;
}
.message__author,
.message__time{
    font-size: 14px;
    opacity: 0.8;
}
/* 스스로가 보내는 카톡 */
.message-row--own{
    justify-content: flex-end;

}
.message-row--own .message-window{
    background-color: var(--cocoatalk-color);
    border-radius: 15px 0px 15px 15px;
}
.message-row--own > .message__info{
    flex-direction: row-reverse;
}

/* 채팅창 */
.reply{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reply_column{
    padding: 5px;
}
.reply_column > input{
    border: var(--main-border);
    border-radius: 25px;
    padding: 14px;
    width: 100%;
}

.reply_column:nth-child(2){
    position: relative;
    width: 100%;
}
.reply_column:last-child{
    position: absolute;
    right: 27px;
    top: 18px;
    display: flex;
    align-items: center;
}
.reply_column:last-child > button {
    border-radius: 25px;
    border: var(--main-border);

    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--cocoatalk-color);
}
