#friends-display-link{
    display: block;
    padding: 15px 0px;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
    background-color: #fafafa;
}

#friends-display-link > i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel{
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__header{
    margin-bottom: 10px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}