.more-suggestions{
    padding: 20px 10px;
    border-top: var(--main-border);
}
.more-suggestions-title {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

/* 아이콘 */
.more-suggestions__icons{
    display: flex;
}
.more-suggestions__icon{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
    width: 20%;
}
.more-suggestions__icon:last-child{
    margin-right: 0px;

}

.more-suggestions__icon-image{
    width: 60px;
    height: 60px;
    font-size: 32px;
    color: var(--screen_color);
    background-color: var(--cocoatalk-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-suggestions__icon-text{
    margin-top: 10px;
}