.screen-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--screen_color);
    z-index: 2;
    border-bottom: var(--main-border);
}
.main-screen{
    padding: 130px 10px 80px 10px;
}